/*
================================================================================
|                                     CHAT                                     |
================================================================================
*/
.container > .btn_open {
	/*margin: 60px;*/
	/*padding: 20px 40px;*/
	/*font-size: 30px;*/
	/*border-radius: 40px;*/
	width: 300px;
	height: 50px;
	text-align: center;
	padding: 15px;
	/*border: 3px solid #0000cc;*/
	/*border-radius: 10px;*/
	/*color: #0000cc;*/
	/*display: none;*/
	position: fixed;
	/*top: 0;*/
	right: 0;
	bottom: 0;
	/*left: 0;*/
	/*margin: auto;*/
}
.modal {
	background: #fff;
	/*width: 100%;*/
	/*height: 100%;*/
	margin: 0;
	padding: 0;
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	top: 100%;
	position: fixed;
	right: 0;
	text-align: left;
}
.modal .header {
	padding:20px;
	border-bottom: 1px solid #ddd;
	font: 300 24px Lato;
	position: relative;
}
.modal .body {
	padding: 20px;
	font: 300 16px Lato;
}


.btn_open {
	/*background: linear-gradient(to right, rgb(220, 227, 91), rgb(69, 182, 73));*/
	background: black;
	padding: 10px 25px;
	/*display: flex;*/
	/*border-radius: 25px;*/
	margin: 20px 0;
	color: #fff;
	position: absolute;
	transition: all .4s ease;
	cursor: pointer;

}
.btn_close {
	/*background: linear-gradient(to right, rgb(220, 227, 91), rgb(69, 182, 73));*/
	background: black;
	padding: 10px 25px;
	display: inline-block;
	border-radius: 25px;
	margin: 20px 0;
	color: #fff;
	position: relative;
	transition: all .4s ease;
	cursor: pointer;

}

.container.modal-open .modal {
	top: 70%;

}
.container.modal-open .btn_open{
	display: none;
}

/*.sticky-content{*/
/*!*background: #DDD;*!*/
/*!*padding: 10px;*!*/
/*}*/

.sticky-content.fixed{
	position: fixed;

}
#chat_form {
	width: 300px;
	height: 50px;
	text-align: center;
	/*padding: 15px;*/
	/*border: 3px solid #0000cc;*/
	/*border-radius: 10px;*/
	color: #0000cc;
	/*display: none;*/
	position: absolute;
	/*top: 0;*/
	right: 0;
	bottom: 0;
	/*left: 0;*/
	margin: auto;
}
#chat_form:target {display: block;}
.close {
	display: inline-block;
	border: 1px solid #0000cc;
	color: #0000cc;
	padding: 0 12px;
	margin: 10px;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 14pt;
	cursor:pointer;
}
.close:hover {background: #e6e6ff;}

/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansItalic';
    src: url('../fonts/PTS56F-webfont.eot');
    src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS56F-webfont.woff') format('woff'),
         url('../fonts/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
body,form,img,h1,h2,h3,h4,h5,p,a,div,ul,li{
	padding:0;
	margin:0;
	border:0;
}
input,textarea,a{
	outline:0;
}
body{
	font-family: 'PTSansRegular',Arial,sans-serif;
	font-size:13px;
	color:#607586;
	background:#FFFFFF;
	overflow-x:hidden;
}
a{
	font-family: 'PTSansRegular',Arial,sans-serif;
	font-size:13px;
	color:#607586;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
strong{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
}
p{
	line-height: 20px;
}
h1{
	font-weight: normal;
	font-size: 32px;
	line-height: 40px;
	color: #293848;
	text-shadow:0 0 0 #293848;
	border-bottom:1px solid #D1D5DC;
	padding: 0 0 32px 0;
	margin: 0 0 20px 0
}
h2{
	font-weight: normal;
	font-family: 'PTSansRegular',Arial,sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #293848;
	text-shadow:0 0 0 #293848;
	border-bottom:1px solid #D1D5DC;
	padding: 0 0 7px 0;
	margin: 0 0 20px 0
}
h3{
	font-weight: normal;
	font-family: 'PTSansRegular',Arial,sans-serif;
	font-size: 21px;
	line-height: 28px;
	color: #293848;
	text-shadow:0 0 0 #293848;
}
h4{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #293848;
	padding:0 0 15px 0;
}
h4 a{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #293848;
	text-decoration: none;
}
h4 a:hover{
	text-decoration: underline;
}
ul{
	list-style-type: none;
}
li{
	border-bottom:1px solid #E8EAED;
	background: url(../images/marker_2.gif) no-repeat 0 14px;
	padding: 7px 0 10px 13px;
}
li:last-child{
	border:0;
	padding: 7px 0 0px 13px;
}
cite{
	font-style: normal;
	line-height: 24px;
	font-size: 20px;
	color: #293848;
	width: 292px;
	border-left: 5px solid #EAEAEA;
	padding: 0 0 0 15px;
	margin-top: 4px;
}
.fL{
	float:left;
}
.fR{
	float:right;
}
.clear{
	clear:both;
}
.ovh{
	overflow: hidden;
}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
#header{
	min-width:980px;
	width: 100%;
	margin: 0 auto;
	text-align:left;
	background: url(../images/bg_header.jpg) repeat center 0;
	position: relative;
	z-index: 100;
}
#header .top_info{
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 20px 25px;
}
#header .top_info .logo{
	width: 319px;
	float: left;
	padding: 0px 0 0 1px;
}
#header .top_info .logo a{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 48px;
	color: #FFFFFF;
	line-height: 60px;
	font-weight: bold;
	text-decoration: none;
}
#header .top_info .logo a span{
	color: #FFB01F;
}
#header .top_info .header_contacts{
	width: 455px;
	float: left;
	font-family: 'PTSansRegular',Arial,sans-serif;
	color: #B6BFC9;
	font-size: 12px;
	line-height: 18px;
	padding: 8px 0 0 5px;
}
#header .top_info .header_contacts .phone{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	word-spacing: 1px;
	padding: 0 0 2px 0;
}
#header .top_info .socials{
	float: left;
	width: 160px;
	text-align: right;
	padding: 14px 0 0 0;
}
#header .top_info .socials a{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 0 0 2px;
}
#search_form{
	float: left;
	width: 320px;
	text-align: right;
	padding: 10px 0 0 0;
}
#search_form .txb_search{
	border: 1px solid #D0D0D0;
	display: inline-block;
	vertical-align: top;
	background: #FFFFFF;
	border-radius: 4px;
	width: 197px;
	height: 26px;
	margin: 0;
	padding: 0;
	padding: 1px 10px 0 10px;
	line-height: 26px;
	font-family: 'PTSansRegular',Arial,sans-serif;
	color: #798FA1;
	box-shadow: 0 1px 0 0 #FFFFFF;
}
#search_form .btn_search{
	vertical-align: top;
	width: 71px;
	background: url(../images/buttons/button_1.png) no-repeat 0 0;
	text-transform: uppercase;
	height: 34px;
	border:0;
	margin: 0 0 0 7px;
	padding: 0 0 5px 0;
	display: inline-block;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
	color: #3B424A;
	text-shadow:0 0 0 #3B424A;
}
/*
================================================================================
|                                     NAVIGATION                               |
================================================================================
*/
.bg_navigation{
	width: 100%;
	min-width: 980px;
	background: url(../images/bg_navigation.jpg) repeat-x 0 0 #DBDCDC;
	margin: 0 auto;
}
.navigation_wrapper{
	width: 940px;
	overflow: hidden;
	padding: 0 20px;
	margin: 0 auto;
}
#navigation{
	width: 620px;
	float: left;
	padding: 0 0 0 0;
}
#navigation span{
	height: 29px;
	display: none;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 28px;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 23px 0 15px;
	background: url(../images/navigation_marker.gif) no-repeat 175px 12px;
}
#navigation ul{
	
}
#navigation ul li{
	display: inline-block;
	height: 49px;
	margin: 0 7px 0 0;
	border:0;
	background: none;
	padding: 0;
	line-height: 20px;
}
#navigation ul li a{
	display: inline-block;
	height: 49px;
	padding: 0 0 0 0;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	color: #3B424A;
	text-shadow:0 1px 0 #FFFFFF;
	font-size: 15px;
	line-height: 25px;
	text-decoration: none;
	padding: 11px 23px 0 23px;
}
#navigation ul li.current a,
#navigation ul li:hover a{
	background: url(../images/bg_menu.jpg) repeat-x 0 0;
	color: #FFFFFF;
	text-shadow:0 -1px 0 #00369F;
}
/*
================================================================================
|                                     CONTENT                                  |
================================================================================
*/
#content{
	width:100%;
	background: url(../images/bg_content.jpg) repeat-x 0 0;
	text-align:left;
	min-width: 980px;
	margin: 0 auto;
}
.content{
	width: 940px;
	margin: 0 auto;
	padding: 15px 20px 0;
}
.line_1{
	overflow: hidden;
}
.slider_wrapper{
	float: left;
	width: 620px;
	padding: 0 0px 0 0;
	margin: 0 20px 0 0;
}
.search_auto_wrapper{
	width: 300px;
	float: left;
}
.wrapper_1{
	padding: 6px 0 33px 0;
}
.wrapper_2{
	padding: 0 0 40px 0;
}
.wrapper_3{
	padding: 0 0 13px 0;
}
.wrapper_2 .left,
.wrapper_3 .left{
	width: 700px;
	float: left;
	padding-top:13px;
}
.wrapper_4 .left{
	float: left;
	padding-top:13px;
}

.wrapper_2 .right,
.wrapper_3 .right {
	width: 220px;
	float: left;
	padding: 0 0 0 20px;
}
.main_wrapper{
	position:relative;
}
.markered{
	background: url(../images/marker_3.gif) no-repeat right 6px;
	padding-right: 17px;
}
.grey_area{
	background: #F8F8F8;
	line-height: 18px;
	padding: 7px 15px 8px 15px;
}
.spaced{
	letter-spacing: 0.5px;
}
.mb1{
	padding-bottom: 40px;
}
img.alignright {
	float:right; 
	margin-left: 29px;
	margin-bottom: 20px;
}
img.alignleft {
	float:left; 
	margin-right: 29px;
	margin-bottom: 20px;
}
img.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
.alignright {
	float:right; 
	margin-left: 29px;
	margin-bottom: 16px;
}
.alignleft {
	float:left; 
	margin-right: 29px;
	margin-bottom: 16px;
}
.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto
}
.chb_devider{
	display: none;
}
.widget_divider{
	display: none;
}
/*
================================================================================
|                                     SERVICES                                 |
================================================================================
*/
.services{
	border:1px solid #EBEBEB;
	background: #F8F8F8;
	padding: 19px;
	overflow: hidden;
	margin-bottom: 20px;
}
.services .service{
	width: 247px;
	float: left;
	border:1px solid #EBEBEB;
	background: #FFFFFF;
	padding: 19px 19px 14px 19px;
	height: 174px;
	overflow: hidden;
}
.services .service.center{
	margin: 0 19px 0 20px;
}
.services .service h2{
	border:0;
	margin: 0;
	min-height: 39px;
	font-size: 26px;
	line-height: 32px;
	padding: 3px 0 11px 53px;
}
.services .service_1 h2{
	background: url(../images/service_1.png) no-repeat 0 0;
}
.services .service_2 h2{
	background: url(../images/service_2.png) no-repeat 0 0;
}
.services .service_3 h2{
	background: url(../images/service_3.png) no-repeat 0 0;
}
.services p{
	color: #798FA1;
	padding-bottom: 15px;
}
.services .more{
	background: url(../images/buttons/button_9.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    text-shadow:0 -1px 0 #000000;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 46px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 0px;
    float: right;
    padding: 0px 0px 0px;
    width: 75px;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
}
/*
================================================================================
|                                     RECENT                                   |
================================================================================
*/
.recent{
	padding: 0 0 32px 0;
	position:relative;
}
.recent .bx-wrapper{
	position: relative;
}
.recent_carousel,
.recent_cars{
	width: 100%;
	position: relative;
}
.recent_cars .all{
	background: url(../images/buttons/button_10.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 32px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    margin: 3px 0 0px;
    padding: 0px 0px 0;
    width: 96px;
    text-transform: uppercase;
    text-shadow:0 -1px 0 #000000;
    text-decoration: none;
}
.recent_cars{
	padding-bottom: 20px;
}
.recent_cars ul{
	overflow: hidden;
}
.recent_carousel .slide,
.recent_cars ul li{
	float: left;
	margin-right: 20px;
	position:relative;
	width: 220px;
	border:0;
	background: none;
	padding: 0;
	height: 164px;
}
.recent_cars ul li{
	margin-bottom: 20px;
}
.recent_cars ul li.last{
	margin-right: 0;
}
.recent_carousel .slide a,
.recent_cars ul li a{
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.recent_carousel .slide .description,
.recent_cars ul li .description{
	position: absolute;
	bottom:0;
	left:0;
	width: 187px;
	height: 145px;
	padding: 9px 14px 10px 19px;
	font-family: 'PTSansRegular';
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	background: url(../images/recent_description.png) repeat 0 0;
}
.recent_carousel .slide:hover .description,
.recent_cars ul li:hover .description{
	transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}
.recent_carousel .slide img,
.recent_cars ul li img{
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
	width: 220px;
}
.recent_carousel .slide .title,
.recent_cars ul li .title{
	position: absolute;
	bottom:0;
	left:0;
	width: 187px;
	padding: 7px 14px 10px 19px;
	font-family: 'PTSansBold';
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 3;
	background: url(../images/recent_title.png) repeat 0 0;
}
.recent_carousel .slide .title span.price,
.recent_cars ul li .title .price{
	float: right;
	letter-spacing: 1px;
	color: #FFB01F;
}
.recent_cars .slide .title span.price{
	float: right;
	letter-spacing: 0.5px;
	text-shadow:0 0 0 #FFB01F;
	color: #FFB01F;
	font-weight: normal;
	font-family: 'PTSansRegular',Arial,sans-serif;
}
.recent .bx-controls{
	position: absolute;
	z-index: 100;
	right: 0;
	top:-49px;
}
.bx-controls .bx-prev,
.bx-controls .bx-next{
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-image: url(../images/carousel_navi.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
	margin: 0 0 0 1px;
}
.bx-controls .bx-next{
	background-position: -15px 0;
}
.bx-controls .bx-prev.disable{
	background-position: 0 -15px;
}
.bx-controls .bx-next.disable{
	background-position: -15px -15px;
}
/*
================================================================================
|                                     RECENT BLOG                              |
================================================================================
*/
.recent_blog{
	padding-bottom: 35px;
}
.recent_blog h2{
	margin-bottom: 21px;
}
.recent_blog .post_block{
	border:1px solid #D9DDE3;
	background:#F8F8F8;
	float: left;
	width: 180px;
	margin: 0 20px 0 0;
	padding: 19px 19px 28px;
}
.recent_blog .post_block.last{
	margin: 0;
}
.recent_blog .post_block a.thumb{
	margin: 0 0 17px 0;
}
.recent_blog .post_block img,
.recent_blog .post_block a.thumb{
	width: 178px;
	height: 133px;
	display: block;
}
.recent_blog .post_block img{
	border:1px solid #FFFFFF;
}
.recent_blog .post_block h5{
	padding: 0 0 15px 0;
}
.recent_blog .post_block h5,
.recent_blog .post_block h5 a{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #293848;
	text-transform: uppercase;
	text-decoration: none;
}
.recent_blog .post_block h5 a:hover{
	text-decoration: underline;
}
.recent_blog .post_block .date{
	font-family: 'PTSansItalic',Arial,sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-style: italic;
	color: #798FA1;
	padding: 0 0 3px 0;
}
.recent_blog .post_block .post p{
	padding: 0;
	font-size: 13px;
	color: #607586;
	line-height: 16px;
}
/*
================================================================================
|                                 TABS			                              |
================================================================================
*/
.tabs_wrapper{
	padding:0 0 38px 0;
}
.tabs_wrapper ul.tabs{
	overflow: hidden;
	padding-bottom: 4px;
	background: url(../images/tab_border.jpg) repeat-x 0 bottom;
}
.tabs_wrapper ul.tabs li{
	float: left;
	margin-right: 1px;
	cursor: pointer;
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 14px;
	line-height: 38px;
	padding: 1px 18px 0;
	text-transform: uppercase;
	color: #798FA1;
	overflow: hidden;
	border:1px solid #ECEEF1;
	border-bottom: 0;
	background: none;
	height: 38px;
	border-radius: 5px 5px 0 0;
}
.tabs_wrapper ul.tabs li.current{
	background: url(../images/tab_active.jpg) repeat-x 0 0;
	height: 39px;
	border:0;
	line-height: 40px;
	color: #FFFFFF;
	padding: 1px 19px 0;
}
.home_tabs .box {
  	display: none;
  	background: #F8F8F8;
  	border: 1px solid #D9DDE3;
  	padding: 15px 19px 20px;
}
.home_tabs .box.visible {
  	display: block;
}
.home_tabs .box .all{
	font-size: 13px;
	color: #293848;
	line-height: 20px;
	text-decoration: none;
	float: right;
	margin-right: 53px;
}
.home_tabs .box .all:hover{
	text-decoration: underline;
}
.home_tabs .box .results{
  	font-weight: bold;
  	font-family: 'PTSansBold',Arial,sans-serif;
  	font-size: 13px;
  	line-height: 20px;
  	color: #335271;
  	text-transform: uppercase;
  	padding: 0 0 15px 0;
}
.tabs_wrapper .bx-wrapper{
	position:relative;
}
.tabs_carousel{
	width: 100%;
	position: relative;
}
.tabs_carousel .slide{
	float: left;
	margin-right: 20px;
	position:relative;
	width: 150px;
	text-align: center;
	border:0;
	background: none;
	padding: 0;
}
.tabs_carousel .slide a{
	text-decoration: none;
}
.tabs_carousel .slide a.img{
	display: block;
	width: 110px;
	margin: 0 0 14px;
}
.tabs_carousel .slide a.title{
	color: #293848;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
}
.tabs_carousel .slide a.title:hover{
	text-decoration: underline;
}
.tabs_wrapper .bx-controls{
	position: absolute;
	z-index: 100;
	right: 0;
	top:-33px;
}
/*
================================================================================
|                                     WIDGETS                                   |
================================================================================
*/
.sidebar{
	float: left;
	width: 240px;
	padding-bottom: 20px;
}
.sidebar .widget{
	border:1px solid #D9DDE3;
	padding: 12px 19px 15px;
	margin-bottom: 20px;
}
.sidebar .widget.grey{
	border:1px solid #EBEBEB;
	padding: 11px 19px 24px;
	margin-bottom: 20px;
	background: #F8F8F8;
}
.sidebar .widget.grey h2{
	border-bottom: 0;
	margin-bottom: 0px;
	padding-bottom: 5px;
}
.sidebar .widget.tags_widget{
	padding-bottom: 9px;
}
.sidebar .widget h2{
	margin-bottom: 8px;
}
.sidebar .widget.contacts_widget{
	padding-bottom: 2px;
}
.sidebar .widget.contacts_widget h2{
	margin-bottom: 17px;
}
.sidebar .widget.schedule_widget li{
	overflow: hidden;
	padding-left:0;
	background: none;
}
.sidebar .widget.schedule_widget li span{
	float: right;
	letter-spacing: 0.5px;
}
.sidebar .widget .post{
	padding: 6px 0 0;
}
.sidebar .widget p{
	color: #798FA1;
	line-height: 20px;
	padding: 0 0 10px 0;
}
.sidebar .widget.grey p{
	color: #607586;
	padding-bottom: 9px;
}
.sidebar .widget .thumb_box{
	padding: 12px 0 8px;
}
.sidebar .widget .thumb{
	width: 200px;
	display: block;
}
.sidebar .widget .thumb img{
	width: 198px;
	border:1px solid #D9DDE3;
}
.sidebar .widget ul.twitter_feed li{
	background: url(../images/twitter_logo.png) no-repeat 0 11px;
	line-height: 20px;
	border:0;
	color: #798FA1;
	padding: 6px 0 8px 31px;
}
.sidebar .widget ul.twitter_feed li.last{
	padding-bottom: 0;
}
.sidebar .widget ul.twitter_feed li a{
	color: #F99F15;
}
.sidebar .widget ul.tags{
	padding: 12px 0 0;
	overflow: hidden;
}
.sidebar .widget ul.tags li{
	float: left;
	border:0;
	background: none;
	padding: 0;
	height: 31px;
	overflow: hidden;
	margin: 0 10px 10px 0;
}
.sidebar .widget ul.tags li.last{
	margin-right: 0;
}
.sidebar .widget ul.tags li a{
	height: 31px;
	display: block;
	background: url(../images/tags_bg.png) no-repeat 0 0;
	line-height: 30px;
	padding: 0 10px 0 13px;
	border-right:1px solid #ECEEF1;
	border-radius: 0 5px 5px 0;
	text-decoration: none;
}
.sidebar .widget ul.tags li a:hover,
.sidebar .widget ul.tags li.active a{
	background-position: 0 -31px;
	color: #FFFFFF;
	border:0;
	padding-right: 11px;
}
.sidebar .widget .accordion{
	padding: 12px 0 0 0;
}
.sidebar .widget .accordion .acc_box{
	background:url(../images/accordion_close.png) no-repeat 0 0;
	padding: 3px 0 12px 37px;
	border-bottom: 1px solid #E8EAED;
	min-height: 24px;
	margin-bottom: 14px;
}
.sidebar .widget .accordion .acc_box.last{
	border:0;
	margin: 0;
	padding-bottom: 8px;
}
.sidebar .widget .accordion .acc_box.active{
	background-image:url(../images/accordion_open.png);
}
.sidebar .widget .accordion .acc_box h4{
	font-weight: normal;
	font-family: 'PTSansRegular';
	font-size: 13px;
	color: #607586;
	padding: 0;
	cursor: pointer;
	line-height: 20px;
}
.sidebar .widget .accordion .acc_box.active h4{
	color: #F99F15;
}
.sidebar .widget .accordion .acc_box div{
	font-weight: normal;
	font-family: 'PTSansRegular';
	font-size: 13px;
	color: #607586;
	padding: 0;
	display: none;
	line-height: 20px;
}
.sidebar .widget .accordion .acc_box p{
	padding: 0;
}
.sidebar .tabs_widget{
	margin-bottom: 20px;
	padding-bottom: 0;
}
.sidebar .tabs_widget .box {
  	display: none;
  	background: #F8F8F8;
  	border: 1px solid #D9DDE3;
  	padding: 19px 15px 19px 19px;
}
.sidebar .tabs_widget .box.visible {
  	display: block;
}
.sidebar .tabs_widget .tab_post{
	overflow: hidden;
	padding-bottom: 20px;
}
.sidebar .tabs_widget .tab_post.last{
	padding-bottom: 0;
}
.sidebar .tabs_widget .tab_post .thumb{
	width: 57px;
	display: block;
	float: left;
	margin-right: 14px;
}
.sidebar .tabs_widget .tab_post .desc{
	width: 133px;
	float: left;
	padding: 2px 0 0 0;
}
.sidebar .tabs_widget .tab_post .desc a{
	line-height: 20px;
}
/*
================================================================================
|                                     VIDEO		                              |
================================================================================
*/
.video_box{
	padding-bottom: 0px;
}
.video_box h2{
	margin-bottom: 21px;
}
.video_box .post_block{
	border:1px solid #D9DDE3;
	background:#F8F8F8;
	float: left;
	width: 180px;
	margin: 0 20px 0 0;
	padding: 19px 19px 26px;
}
.video_box .post_block.last{
	margin: 0;
}
.video_box .post_block .preview{
	margin: 0 0 15px 0;
}
.video_box .post_block .preview,
.video_box .post_block .preview a{
	width: 180px;
	height: 115px;
	position: relative;
	display: block;
}
.video_box .post_block img{
	width: 178px;
	height: 113px;
	border:1px solid #FFFFFF;
	display: block;
	position: relative;
}
.video_box .post_block img{
	width: 178px;
	position: relative;
	z-index: 1;
	height: 113px;
	border:1px solid #FFFFFF;
	display: block;
}
.video_box .post_block .preview a span.hover{
	width: 178px;
	position: absolute;
	z-index: 5;
	top:0;
	left: 0;
	height: 113px;
	display: block;
	background: #19222B;
	border:1px solid #FFFFFF;
	opacity: 0;
}
.video_box .post_block img.video_play{
	width: 46px;
	position: absolute;
	z-index: 10;
	height: 46px;
	display: block;
	border:0;
	opacity: 0;
	top:50%;
	left:50%;
	margin: -23px 0 0 -23px;
}
.video_box .post_block .preview a:hover span.hover{
	transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0.9;
}
.video_box .post_block .preview a:hover img.video_play{
	transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}
.video_box .post_block h5{
	padding: 0 0 6px 0;
}
.video_box .post_block h5,
.video_box .post_block h5 a{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #293848;
	text-transform: uppercase;
	text-decoration: none;
}
.video_box .post_block h5 a:hover{
	text-decoration: underline;
}
.video_box .post_block .date{
	font-family: 'PTSansItalic',Arial,sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-style: italic;
	color: #798FA1;
	padding: 0 0 3px 0;
}
.video_box .post_block .post p{
	padding: 0;
	font-size: 13px;
	color: #607586;
	line-height: 16px;
}
/*
================================================================================
|                               HOME NEWS		                              |
================================================================================
*/
.news{
	width: 180px;
	border:1px solid #D9DDE3;
	padding: 12px 19px 21px;
	margin: 0 0 27px;
}
.news .news_box{
	padding: 1px 0 37px;
}
.news .news_box .thumb{
	width: 178px;
	display: block;
	margin: 0 0 16px;
}
.news .news_box .thumb img{
	width: 178px;
	border:1px solid #D9DDE3;
}
.news .news_box h5{
	padding: 0 0 13px 0;
}
.news .news_box h5,
.news .news_box h5 a{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #293848;
	text-transform: uppercase;
	text-decoration: none;
}
.news .news_box h5 a:hover{
	text-decoration: underline;
}
.news .news_box .date{
	font-family: 'PTSansItalic',Arial,sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-style: italic;
	color: #798FA1;
	padding: 0 0 3px 0;
}
.news .news_box .post p{
	padding: 0;
	font-size: 13px;
	color: #607586;
	line-height: 16px;
}
.news .all_news{
	width: 81px;
	height: 32px;
	background: url(../images/buttons/button_4.png) no-repeat 0 0;
	display: block;
	line-height: 28px;
	color: #FFFFFF;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	margin: -15px 0 0 1px;
	text-shadow:0 -1px 0 #000000;
}
/*
================================================================================
|                               BREADCRUMBS		                              |
================================================================================
*/
.breadcrumbs{
	padding: 0 0 26px;
}
.breadcrumbs,
.breadcrumbs a{
	line-height: 20px;
	font-size: 13px;
	color: #607586;
	text-decoration: none;
}
.breadcrumbs a:hover{
	text-decoration: underline;
}
.breadcrumbs img{
	margin: 0 4px 2px 4px;
}
/*
================================================================================
|                               SUBSCRIBE		                              |
================================================================================
*/
.get_news_box{
	width: 180px;
	border:1px solid #DA8500;
	padding: 12px 19px 21px;
	background: url(../images/bg_subscribe.jpg) repeat 0 0;
	margin: 0 0 20px;
}
.get_news_box h3{
	color: #FFFFFF;
	text-shadow:0 0 0 #FFFFFF;
	border-bottom:1px solid #F29A00;
	padding: 0 0 9px;
	margin: 0 0 21px;
}
.get_news_box .txb{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DC9B00;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FBDE99;
    color: #888888;
    display: block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 28px;
    line-height: 28px;
    margin: 0 0 15px;
    padding: 1px 10px 0;
    vertical-align: top;
    width: 158px;
}
.get_news_box .btn_subscribe{
	background: url("../images/buttons/button_5.png") no-repeat scroll 0 0 transparent;
    color: #3B424A;
    text-shadow:0 0 0 #3B424A;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    font-size: 11px;
    height: 31px;
    line-height: 20px;
    margin: 0px 0 0;
    letter-spacing: 0.5px;
    padding: 0px 0 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 81px;
    border:0;
}
/*
================================================================================
|                             CONSTRUCTION  SUBSCRIBE                           |
================================================================================
*/
.newsletter{
	text-align: center;
	padding: 44px 0 45px 0;
}
.newsletter .title{
	color: #293848;
	line-height: 20px;
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	padding: 0 0 25px 0;
}
.newsletter .txb{
	background: #FFFFFF;
    border: 1px solid #D1D5DC;
    border-radius: 4px 4px 4px 4px;
    color: #798FA1;
    display: inline-block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 39px;
    line-height: 38px;
    margin: 0 16px 0px 0;
    padding: 0px 14px 0;
    vertical-align: top;
    width: 310px;
}
.newsletter .btn_subscribe{
	background: url("../images/buttons/button_7.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    text-shadow:0 -1px 0 #050A0F;
    display: inline-block;
    font-family: 'PTSansBold',Arial,sans-serif;
    font-size: 14px;
    height: 46px;
    line-height: 20px;
    margin: 0px 0 0;
    letter-spacing: 0.5px;
    padding: 0px 0 9px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 106px;
    border:0;
}
/*
================================================================================
|                                     SLIDER                                   |
================================================================================
*/
.slider{
	position:relative;
}
.slider .sliderContent{
	position:relative;
	overflow: hidden;
}
.slider .sliderContent .item{
	position:absolute;	
	top:0;
	left:0;
}
.slider .slide img{
	position:relative;
	z-index: 1;
	top:0;
	left:0;
}
.slider .slide .description{
	position: absolute;
	bottom: 0;
	left:0;
	background: url(../images/bg_slider_content.png) repeat 0 0;
	min-height: 50px;
	z-index: 2;
}
.slider .slide .description h2{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size:21px;
	max-width: 440px;
	line-height: 28px;
	padding:0 20px 3px;
	border:0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
}
.slider .slide .description p{
	font-size: 12px;
	color: #A9B5BD;
	line-height: 18px;
	padding: 0 20px;
	overflow: hidden;
	max-width: 440px;
	white-space: nowrap;
}
.slider .slide .description p span{
	padding: 0 16px 0 0
}
.slider .slide .description .price{
	color: #FFB01F;
	line-height: 28px;
	font-size: 21px;
	text-shadow:0 -1px 0 #000003;
	font-family: Arial,sans-serif;
	position:absolute;
	top:14px;
	font-weight: bold;
}
.home_slider .bx-controls,
.page_slider .bx-controls{
	position:absolute;
	bottom:21px;
	z-index: 10;
}
.home_slider .bx-pager .bx-pager-item,
.page_slider .bx-pager .bx-pager-item{
	display: inline-block;
}
.home_slider .bx-pager .bx-pager-item a.bx-pager-link,
.page_slider .bx-pager .bx-pager-item a.bx-pager-link{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: 9999px;
	overflow: hidden;
	background: url(../images/slider_bullet.png) no-repeat 2px 2px;
	margin: 0 0 0 8px;
}
.home_slider .bx-pager .bx-pager-item a.bx-pager-link.active,
.page_slider .bx-pager .bx-pager-item a.bx-pager-link.active{
	background: url(../images/slider_bullet_active.png) no-repeat 0px 0px;
}
.home_slider{
	position:relative;
}
.home_slider .slider{
	width: 620px;
	height: 425px;
}
.home_slider .slider .slide{
	width: 620px;
	height: 425px;
}
.home_slider .slider .slide img{
	width: 620px;
	height: 425px;
}
.home_slider .slider .slide .description{
	width: 100%;
	padding: 13px 0 20px;
}
.home_slider .slider .slide .description .price{
	right:20px;
}
.home_slider .bx-controls{
	right:21px;
}
.page_slider {
	margin-bottom: 7px;
	position:relative;
}
.page_slider .slider{
	width: 940px;
	height: 425px;
}
.page_slider .slider .slide{
	width: 940px;
	height: 425px;
}
.page_slider .slider .slide img{
	width: 940px;
	height: 425px;
}
.page_slider .slider .slide .description{
	width: 100%;
	padding: 13px 0px 20px 0px;
}
.page_slider .slider .slide .description .price{
	right:340px;
}
.page_slider .bx-controls{
	right:341px;
}
.bx-viewport{
	height: auto!important;
}
/*
================================================================================
|                                     BANNERS                                   |
================================================================================
*/
.banner{
	margin-bottom: 20px;
}
.banners{
	overflow: hidden;
	padding-bottom: 25px;
}
.main_banner{
	overflow: hidden;
	color: #FFFFFF;
	padding: 18px 15px 25px 18px;
}
.banner_1{
	background: url(../images/banners/bg_banner_1.jpg) repeat-x 0 0 #0C1C30;
	border:1px solid #0C1C30;
	width: 425px;
	float: left;
}
.banner_2{
	background: url(../images/banners/bg_banner_2.jpg) repeat-x 0 0 #F09000;
	border:1px solid #DA8500;
	float: right;
	width: 425px;
	overflow: hidden;
}
.main_banner .text_wrapper{
	padding: 0 0 0px 67px;
	width: 268px;
	float: left;
}
.main_banner.banner_1 .text_wrapper{
	background: url(../images/banners/banner_img_1.png) no-repeat 0 4px;
}
.main_banner.banner_2 .text_wrapper{
	background: url(../images/banners/banner_img_2.png) no-repeat 9px 2px;
}
.main_banner p.title{
	font-size: 30px;
	line-height: 36px;
	padding: 0;
}
.main_banner p.desc{
	font-size: 11px;
	line-height: 18px;
	padding: 0;
}
.main_banner a{
	display: block;
	float: left;
	width: 81px;
	height: 34px;
	background: url(../images/buttons/button_3.png) no-repeat 0 0;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #3B424A;
	line-height: 20px;
	padding: 9px 0 0;
	margin: 12px 0 0;
}
/*
================================================================================
|                                     SEARCH AUTO                              |
================================================================================
*/
.search_auto{
	width: 260px;
	border:1px solid #EBEBEB;
	padding: 11px 19px 13px;
	background: #F8F8F8;
}
.catalog_sidebar .search_auto{
	width: 180px;
	margin-bottom: 20px;
}
.search_auto h3{
	padding: 0 0 12px 0;
	float: left;
}
.catalog_sidebar .search_auto h3{
	float: none;
}
.search_auto .categories{
	float: right;
	padding: 11px 0 0 0;
}
.catalog_sidebar .search_auto .categories{
	float: none;
	padding: 1px 0 9px 0;
}
.search_auto .categories input{
	display: none;
}
.search_auto .categories label{
	position:relative;
	width: 25px;
	height: 13px;
	display: inline-block;
	cursor: pointer;
	margin: 0 0 0 7px;
}
.catalog_sidebar .search_auto .categories label{
	margin: 0 7px 0 10px;
}
.search_auto .categories label:after{
	width: 25px;
	cursor: pointer;
	height: 13px;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
	display: inline-block;
	content: '';
}
.search_auto .categories input#search_radio_1 + label:after{
	background: url(../images/search_auto_icons/search_radio_1.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_2 + label:after{
	background: url(../images/search_auto_icons/search_radio_2.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_3 + label:after{
	background: url(../images/search_auto_icons/search_radio_3.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_4 + label:after{
	background: url(../images/search_auto_icons/search_radio_4.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_1:checked + label:after{
	background: url(../images/search_auto_icons/search_radio_active_1.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_2:checked + label:after{
	background: url(../images/search_auto_icons/search_radio_active_2.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_3:checked + label:after{
	background: url(../images/search_auto_icons/search_radio_active_3.png) no-repeat 0 0;
}
.search_auto .categories input#search_radio_4:checked + label:after{
	background: url(../images/search_auto_icons/search_radio_active_4.png) no-repeat 0 0;
}
.search_auto .select_box_1{
	width: 260px;
	padding: 0 0 8px 0;
}
.catalog_sidebar .search_auto .select_box_1{
	width: 180px;
}
.search_auto .select_box_2{
	width: 260px;
	padding: 0 0 8px 0;
}
.catalog_sidebar .search_auto .select_box_2{
	width: 180px;
}
.search_auto .select_box_2 .custom-select{
	float: left;
	width: 125px;
}
.catalog_sidebar .search_auto .select_box_2 .custom-select{
	float: left;
	width: 85px;
}
.search_auto .select_box_2 .custom-select:first-child{
	margin-right: 10px;
}
.search_auto label{
	font-size: 13px;
	display: block;
	line-height: 18px;
	padding: 0 0 3px 0;
}
.search_auto label strong{
	color: #293848;
}
.search_auto label.check_label{
	display: inline;
	vertical-align: top;
	color: #798FA1;
	line-height: 20px;
	font-size: 13px;
}
.search_auto .chb_wrapper{
	float: left;
	padding: 25px 0 0 0;
}
.catalog_sidebar .search_auto .chb_wrapper{
	float: none;
	padding: 0px 0 0 0;
}
.search_auto .chb_wrapper input{
	margin: 4px 2px 0 0;
	vertical-align: top;
}
.search_auto .btn_search{
	width: 104px;
	height: 46px;
	background: url(../images/buttons/button_2.png) no-repeat 0 0;
	border:0;
	cursor: pointer;
	border-radius: 4px;
	float: right;
	font-family: 'PTSansBold';
	color: #FFFFFF;
	text-shadow:0 -1px 0 #050A0F;
	text-transform: uppercase;
	font-size: 14px;
	margin: 13px 0 0 0;
	padding: 0 0 7px 0;
}
.catalog_sidebar .search_auto .btn_search{
	float: none;
	margin: 16px 0 1px 0;
	padding: 0 0 9px 0;
}
/*
================================================================================
|                                CALCULATOR		                              |
================================================================================
*/
.calculator{
	width: 180px;
	border:1px solid #EBEBEB;
	padding: 11px 19px 14px;
	background: #F8F8F8;
	margin-bottom: 20px;
}
.calculator h3{
	padding: 0 0 12px 0;
}
.calculator label{
	font-size: 13px;
	display: block;
	line-height: 18px;
	padding: 0 0 3px 0;
}
.calculator label strong{
	color: #293848;
}
.calculator .select_box_1{
	width: 180px;
	padding: 0 0 8px 0;
}
.calculator .btn_calc{
	width: 104px;
	height: 46px;
	background: url(../images/buttons/button_2.png) no-repeat 0 0;
	border:0;
	cursor: pointer;
	border-radius: 4px;
	font-family: 'PTSansBold';
	color: #FFFFFF;
	text-shadow:0 -1px 0 #050A0F;
	text-transform: uppercase;
	font-size: 14px;
	margin: 12px 0 0 0;
	padding: 0 0 9px 0;
}
/*
================================================================================
|                                PAGINATION		                              |
================================================================================
*/
.pagination{
	float: right;
}
.pagination ul{
	overflow: hidden;
}
.pagination ul li{
	float: left;
	color: #607586;
	text-shadow:1px 0 0 #607586;
	letter-spacing: 1px;
	border:0;
	background: none;
	padding: 0 0 0 2px;
}
.pagination ul li.space{
	padding: 5px 8px 0 11px;
}
.pagination ul li.next{
	padding: 0 0 0 15px;
}
.pagination ul li a{
	display: block;
	width: 29px;
	height: 29px;
	background: url(../images/pagination.png) no-repeat 0 0;
	color: #607586;
	font-size: 13px;
	line-height: 28px;
	text-shadow:0 1px 0 #FFFFFF;
	text-align: center;
	text-decoration: none;
}
.pagination ul li a:hover,
.pagination ul li.active a{
	background-position: 0 -29px;
	color: #FFFFFF;
	text-shadow:none;
}
.pagination ul li.next a{
	background: none;
	width: 6px;
	padding: 9px 0 0;
	height: 20px;
}
/*
================================================================================
|                                 BLOG		                                   |
================================================================================
*/
.blog{
	width: 660px;
	float: left;
	padding: 0 40px 0 0;
}
.blog_post{
	border-bottom: 1px solid #D1D5DC;
	overflow: hidden;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.blog_single_post{
	border-bottom: 1px solid #D1D5DC;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.blog_post .thumb{
	margin: 0 25px 0 0;
	float: left;
}
.blog_post .thumb,
.blog_post .thumb img{
	width: 180px;
}
.blog_post .blog_desc{
	float: left;
	width: 455px;
	padding: 2px 0 0 0;
}
.blog_post .grey_area,
.blog_single_post .grey_area{
	padding-top: 6px;
	padding-bottom: 7px;
	margin-bottom: 14px;
}
.blog_single_post .grey_area{
	margin-bottom: 20px;
}
.blog_date,
.blog_author,
.blog_category,
.blog_comments{
	display: inline-block;
	min-height: 15px;
	margin: 0 12px 0 0;
}
.blog_date,
.blog_author,
.blog_category,
.blog_comments,
.blog_category a{
	font-size: 11px;
	font-family: 'PTSansItalic',Arial,sans-serif;
	font-style: italic;
	line-height: 18px;
	color: #798FA1;
	text-decoration: none;
}
.blog_date:hover,
.blog_author:hover,
.blog_comments:hover,
.blog_category a:hover{
	text-decoration: underline;
}
.blog_date{
	background: url(../images/blog_icons/blog_date_icon.png) no-repeat 0 1px;
	padding: 0 0 0 24px;
}
.blog_author{
	background: url(../images/blog_icons/blog_author_icon.png) no-repeat 0 1px;
	padding: 0 0 0 23px;
}
.blog_category{
	background: url(../images/blog_icons/blog_categories_icon.png) no-repeat 0 1px;
	padding: 0 0 0 24px;
}
.blog_comments{
	background: url(../images/blog_icons/blog_comments_icon.png) no-repeat 0 1px;
	padding: 0 0 0 24px;
}
.blog_post .post p{
	color: #798FA1;
	line-height: 20px;
	padding: 0px 0 10px;
}
.blog_single_post .post p{
	color: #798FA1;
	line-height: 20px;
	padding: 4px 0 15px;
}
.blog_post .more{
	text-decoration: none;
}
.blog_post .more:hover{
	text-decoration: underline;
}
/*
================================================================================
|                               COMMENTS	                                   |
================================================================================
*/
.comments{
	padding: 4px 0 3px 0;
}
.comments ul{
	padding: 4px 0 0 0;
}
.comments ul li{
	background: none;
	padding: 0 0 0px 0;
	border-bottom: 1px solid #E8EAED;
}
.comments ul li.last{
	border:0;
}
.comments ul li ul,
.comments ul li ul li ul{
	padding: 0px 0 0 0;
}
.comments ul li ul li{
	background: none;
	margin: 0px 0 0 0;
	padding: 0px 0 0px 0;
	border-top: 1px solid #E8EAED;
	border-bottom: 0;
}
.comments ul li ul li ul li{
	background: none;
	padding: 0px 0 0px 0;
	border-top: 1px solid #E8EAED;
	border-bottom: 0;
}
.comments ul li img{
	float: left;
	width: 61px;
	margin: 6px 19px 0 0;
}
.comments ul li .wrapper{
	padding: 24px 0 25px 0;
}
.comments ul li.first > .wrapper{
	padding: 0px 0 25px 0;
}
.comments ul li ul li .wrapper{
	padding: 24px 0 25px 81px;
}
.comments ul li ul li ul li .wrapper{
	padding: 24px 0 25px 162px;
}
.comments ul li .comment_data{
	padding: 0 0 0 80px;
}
.comment_author{
	overflow: hidden;
}
.comments ul li .comment_data .author{
	font-weight: bold;
	color: #293848;
	line-height: 20px;
	font-family: 'PTSansBold',Arial,sans-serif;
	float: left;
	padding: 0 10px 4px 0;
}
.comments ul li .comment_data .date{
	font-style: italic;
	color: #798FA1;
	line-height: 20px;
	font-family: 'PTSansItalic',Arial,sans-serif;
	font-size: 11px;
	float: left;
}
.comments ul li .comment_data .comment{
	line-height: 20px;
}
.comments ul li .reply{
	background: url(../images/reply.png) no-repeat 0 2px;
	padding: 0 0 0 19px;
	float: right;
	line-height: 20px;
}
.comment_form{
	padding-bottom: 40px;
}
.comment_form h2{
	margin-bottom: 15px;
}
.comment_form .fld_box{
	width: 193px;
	float: left;
}
.comment_form .fld_box.center{
	padding: 0 41px 0 40px;	
}
.comment_form label{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	color: #293484;
	display: block;
	padding-left: 1px;
	line-height: 18px;
	padding-bottom: 3px;
}
.comment_form input{
	background: #FFFFFF;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    box-shadow:none;
    color: #888888;
    display: block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 28px;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 1px 10px 0;
    vertical-align: top;
    font-size: 13px;
    width: 171px;
}
.comment_form textarea{
	background: #FFFFFF;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    box-shadow:none;
    color: #888888;
    display: block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 100px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 1px 0px 0 10px;
    vertical-align: top;
    width: 648px;
    font-size: 13px;
    resize:none;
}
.comment_form input.submit{
	background: url(../images/buttons/button_6.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 46px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    margin: 0 0 0px;
    padding: 0px 0px 9px;
    width: 87px;
    text-transform: uppercase;
}
/*
================================================================================
|                              DEALER		                                   |
================================================================================
*/
.best_offer{
	width: 660px;
	height: 425px;
	position: relative;
}
.best_offer img{
	width: 660px;
	height: 425px;
	position:relative;
	z-index: 1;
	top:0;
	left:0;
}
.best_offer .label{
	height: 47px;
	font-size: 24px;
	z-index: 10;
	position: absolute;
	top:36px;
	left:0;
	line-height: 46px;
	color: #FFFFFF;
	padding: 0 19px 0 19px;
	background: url(../images/best_offer_label.jpg) repeat-x 0 0;
}
.best_offer .description{
	position: absolute;
	bottom: 0;
	left:0;
	background: url(../images/bg_slider_content.png) repeat 0 0;
	width: 620px;
	min-height: 50px;
	z-index: 2;
	padding: 13px 20px 20px;
}
.best_offer .description h2{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size:21px;
	max-width: 440px;
	line-height: 28px;
	padding-bottom:3px;
	border:0;
	margin: 0;
}
.best_offer .description p{
	font-size: 12px;
	color: #A9B5BD;
	line-height: 18px;
}
.best_offer .description p span{
	padding: 0 16px 0 0
}
.best_offer .description .price{
	color: #FFB01F;
	line-height: 28px;
	font-size: 21px;
	text-shadow:0 -1px 0 #000003;
	font-family: Arial,sans-serif;
	position:absolute;
	top:14px;
	font-weight: bold;
	right:20px;
}
.offers{
	padding: 20px 0 17px 0;
	overflow: hidden;
	border-bottom:1px solid #D1D5DC;
}
.offers .count{
	line-height: 20px;
	float: left;
	padding: 4px 0 0 0;
}
.offers .count strong{
	color: #293848;
}
.offers .all{
	background: url(../images/buttons/button_8.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 33px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    margin: 0 0 0px;
    padding: 0px 0px 0;
    width: 120px;
    float: right;
    text-transform: uppercase;
    text-shadow:0 -1px 0 #000000;
    text-decoration: none;
}
.dealer_catalog li .catalog_desc{
	padding: 0 0 0 0px;
	width: 471px;
	float: left;
}
.dealer_bottom{
	padding: 30px 0 40px;
}
/*
================================================================================
|                              CUSTOM SELECT                                   |
================================================================================
*/
.custom-select{
	position: relative;
	width: auto;
}
.custom-select select{
	display: none;
}
.custom-select .custom-text{
	border:1px solid #D1D5DC;
	border-radius: 3px;
	background: #FFFFFF;
	display: block;
	color: #798FA1;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	font-family: 'PTSansRegular',Arial,sans-serif;
	padding:1px 0 0 11px;
	box-shadow: 0 1px 0 0 #FFFFFF;
	width: auto;
	background: url(../images/select_marker.gif) no-repeat right 13px #FFFFFF;
}
.select-list{
	border:1px solid #D1D5DC;
	z-index: 100;
	border-radius: 3px;
	background: #FFFFFF;
	display: block;
	color: #798FA1;
	font-size: 13px;
	top: 31px;
	line-height: 28px;
	font-family: 'PTSansRegular',Arial,sans-serif;
	padding:0px 0 0 0px;
	width: 100%;
	position: absolute;
}
.custom-scroll{
	overflow: hidden;
}
.select-scroll {
    background-color: #D1D5DC;
    border-radius: 0px 2px 2px 0px;
    width: 12px;
}
.select-scroll {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
.maxlength .scroll-drag:after {
    content: "≡";
    display: block;
    font-size: 14px;
    left: 50%;
    margin: -14px 0 0 -4px;
    position: relative;
    top: 50%;
}
.scroll-drag {
    background-color: #293648;
    border-radius: 2px 2px 2px 2px;
    top: 0;
    width: 10px;
}
.scroll-drag {
    cursor: pointer;
    display: block;
    left: 1px;
    position: absolute;
}
.custom-select ul {
    left: 0;
    position: relative;
    top: 0;
}
.custom-select ul li{
	padding-left: 10px;
	cursor: pointer;
	border:0;
	background: none;
}
.custom-select ul li.selected,
.custom-select ul li:hover{
	background: #798FA1;
	color: #FFFFFF;
}
.select_box_1 .select-list{
	width: 258px;
}
.select_box_2 .select-list{
	width: 124px;
}
.catalog_sidebar .select_box_1 .select-list,
.car_sidebar .select_box_1 .select-list{
	width: 178px;
}
.catalog_sidebar .select_box_2 .select-list{
	width: 83px;
}
.sell_select .select-list{
	width: 205px;
}
/*
================================================================================
|                                  CONTACTS		                                |
================================================================================
*/
.contacts_box{
	background: #F8F8F8;
	border:1px solid #EBEBEB;
	padding: 9px 9px 9px 19px;
	overflow: hidden;
	margin: 0 0 33px 0;
}
.contacts_box h3{
	padding-bottom: 14px;
}
.contacts_box .left{
	width: 220px;
	padding: 3px 20px 0 0;
	float: left;
}
.contacts_box .detail{
	padding: 0 0 20px 37px;
	min-height: 27px;
}
.car_contacts .detail,
.contacts_widget .detail{
	padding: 0 0 15px 37px;
	min-height: 27px;
}
.contacts_box .detail.single_line{
	padding: 8px 0 17px 37px;
}
.car_contacts .detail.single_line,
.contacts_widget .detail.single_line{
	padding: 8px 0 12px 37px;
}
.contacts_box .detail,
.contacts_box .detail a,
.car_contacts .detail,
.car_contacts .detail a,
.contacts_widget .detail,
.contacts_widget .detail a{
	color: #607586;
	line-height: 16px;
	text-decoration: none;
}
.contacts_box .detail a:hover,
.car_contacts .detail a:hover,
.contacts_widget .detail a:hover{
	text-decoration: underline;
}
.contacts_box .addr,
.car_contacts .addr,
.contacts_widget .addr{
	background: url(../images/contacts/address_icon.png) no-repeat 0 3px;
}
.contacts_box .phones,
.car_contacts .phones,
.contacts_widget .phones{
	background: url(../images/contacts/phone_icon.png) no-repeat 0 3px;
}
.contacts_box .email,
.car_contacts .email,
.contacts_widget .email{
	background: url(../images/contacts/email_icon.png) no-repeat 0 3px;
}
.contacts_box .web,
.car_contacts .web,
.contacts_widget .web{
	background: url(../images/contacts/web_icon.png) no-repeat 0 3px;
}
.contacts_box .map{
	width: 668px;
	float: left;
	border:1px solid #FFFFFF;
}
.contact_form{
	padding: 0 0 28px;
}
.contact_form h2{
	margin-bottom: 15px;
}
.contact_form .fld_box{
	width: 287px;
	float: left;
}
.contact_form .fld_box.center{
	padding: 0 39px 0 40px;	
}
.contact_form label{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	color: #293484;
	display: block;
	padding-left: 1px;
	line-height: 18px;
	padding-bottom: 3px;
}
.contact_form input{
	background: #FFFFFF;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    box-shadow:none;
    color: #888888;
    display: block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 28px;
    line-height: 28px;
    margin: 0 0 8px;
    padding: 1px 10px 0;
    vertical-align: top;
    font-size: 13px;
    width: 265px;
}
.contact_form textarea{
	background: #FFFFFF;
    border: 1px solid #D1D5DC;
    border-radius: 3px;
    box-shadow:none;
    color: #888888;
    display: block;
    font-family: 'PTSansRegular',Arial,sans-serif;
    height: 100px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 1px 0px 0 10px;
    vertical-align: top;
    width: 928px;
    font-size: 13px;
    resize:none;
}
.contact_form input.submit{
    background: url(../images/buttons/button_6.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 46px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    margin: 0 0 0px;
    padding: 6px 0px 9px;
    width: 87px;
    text-transform: uppercase;
}
ul.personal_list{

}
ul.personal_list li{
	width: 450px;
	margin: 0 36px 36px 0;
	overflow: hidden;
	display: inline-block;
	border:0;
	background: none;
	padding: 0;
}
ul.personal_list li.last{
	margin-right: 0;
}
ul.personal_list li,
ul.personal_list li a{
	line-height: 18px;
	color: #798FA1;
	text-decoration: none;
}
ul.personal_list li a:hover{
	text-decoration: underline;
}
ul.personal_list li img.thumb{
	float: left;
	width: 138px;
	height: 138px;
	margin: 0 25px 0 0;
}
ul.personal_list li .inner{
	float: left;
	width: 287px;
	padding: 18px 0 0;
	overflow: hidden;
}
ul.personal_list li .grey_area{
	letter-spacing: 0.5px;
	color: #607586;
	margin-bottom: 10px;
}
ul.personal_list li .grey_area span{
	padding-right:7px;
}
/*
================================================================================
|                                     404	                                   |
================================================================================
*/
.counter_heading{
	font-size: 28px;
	line-height: 34px;
	color: #293848;
	text-align: center;
	padding: 47px 0 43px 0;
}
.counter_wrapper{
	text-align: center;
	border-bottom: 1px solid #D1D5DC;
	padding: 0 0 60px 0;
}
#counter{
	display: inline-block;
	background: #F8F8F8;
	border:1px solid #EBEBEB;
	border-radius: 5px;
	padding: 10px 0 14px 0;
	overflow: hidden;
}
#counter .countdown_section{
	width: 87px;
	display: block;
	text-align: center;
	color: #607586;
	float: left;
	margin: 0 10px;
	line-height: 20px;
}
#counter .countdown_amount{
	width: 85px;
	height: 87px;
	background: url(../images/digit.png) no-repeat 0 0;
	display: block;
	font-family: Arial,sans-serif;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #293848;
	line-height: 87px;
	padding: 0 0 0 2px;
	margin: 0 0 9px 0;
}
.needs_wrapper{
	padding: 21px 29px 18px 29px;
	background: #F8F8F8;
	border:1px solid #EBEBEB;
	margin: 0 0 40px;
	overflow: hidden;
}
.needs_wrapper .post_block{
	width: 240px;
	float: left;
}
.needs_wrapper .post_block.center{
	padding: 0 76px 0 77px;
}
.needs_wrapper h3{
	padding-bottom: 9px
}
.needs_wrapper ul{
	padding:0;
}
.needs_wrapper ul li{
	background: url(../images/marker_4.png) no-repeat 0 7px;
	padding: 0 0 7px 15px;
	line-height: 18px;
	border:0;
}
.needs_wrapper ul li,
.needs_wrapper ul li a{
	color: #798FA1;
	text-decoration: none;
}
.needs_wrapper ul li a:hover{
	text-decoration: underline;
}
/*
================================================================================
|                                     SELL                                   |
================================================================================
*/
.message{
	border:1px solid #EBEBEB;
	background:#F8F8F8;
	padding: 11px 19px 11px 19px;
	margin-bottom: 33px;
}
.message h3{
	padding: 0 0 11px 0;
}
.message p{
	line-height: 20px;
	padding-bottom: 3px;
}
.sell_box {
	padding-bottom: 26px;
}
.sell_box.sell_box_2 {
	padding-bottom: 25px;
}
.sell_box.sell_box_3 {
	padding-bottom: 24px;
}
.sell_box.sell_box_4 {
	padding-bottom: 13px;
}
.sell_box.sell_box_5 {
	padding-bottom: 33px;
}
.sell_box h2{
	margin-bottom: 14px;
}
.sell_box label{
	color: #293848;
	padding: 0 0 2px 0;
	line-height: 20px;
	display: block;
}
.sell_box label span{
	color: #FFB52E;
}
.sell_box .select_wrapper,
.sell_box .input_wrapper,
.sell_box .single_chb_wrapper{
	width: 245px;
	float: left;
	padding-bottom: 7px;
}
.sell_box .single_chb_wrapper{
	padding-top: 28px;
}
.sell_box .select_wrapper.last,
.sell_box .input_wrapper.last,
.sell_box .single_chb_wrapper.last{
	width: 205px;
}
.sell_box .input_wrapper.large{
	width: 490px;
}
.sell_box .input_wrapper.large.last{
	width: 450px;
}
.sell_box .foto_wrapper{
	float: left;
	width: 140px;
	margin: 6px 20px 20px 0;
}
.sell_box .foto_wrapper.last{
	margin-right: 0;
}
.sell_box .txb{
	border: 1px solid #D1D5DC;
	display: block;
	vertical-align: top;
	background: #FFFFFF;
	border-radius: 4px;
	width: 183px;
	height: 28px;
	margin: 0;
	padding: 1px 10px 0 10px;
	line-height: 28px;
	font-family: 'PTSansRegular',Arial,sans-serif;
	color: #798FA1;
}
.sell_box .txb.large{
	width: 428px;
}
.sell_box .chb_group{
	float: left;
	padding: 4px 0 0 0;
	width: 158px;
}
.sell_box .chb_group.last{
	width: 148px;
}
.sell_box .foto_wrapper a{
	border:1px solid #EBEBEB;
	background: #F8F8F8;
	display: block;
	width: 138px;
	height: 103px;
	text-transform: uppercase;
	color: #798FA1;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 20px;
}
.sell_box .foto_wrapper a img.upload{
	display: block;
	margin: 25px auto 9px;
}
.sell_submit_wrapper{
	border-top:1px solid #D1D5DC;
	padding: 18px 0 35px 0;
}
.sell_submit_wrapper input.sell_submit{
	background: url(../images/buttons/button_6.png) no-repeat 0 0;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'PTSansBold',Arial,sans-serif;
    height: 46px;
    float: right;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    margin: 2px 0 0px;
    padding: 0px 0px 9px;
    width: 87px;
    text-transform: uppercase;
}
/*
================================================================================
|                                     CHECKBOXES                               |
================================================================================
*/
.custom_chb{
	width:17px;
	height:17px;
	float: left;
	overflow:hidden;
	background:url(../images/checkbox.png) no-repeat 0 0;
	cursor:pointer;
	margin: 2px 0 0 0;
}
.custom_chb.active{
	background-position:0 -17px;
}
.custom_chb_wrapper{
	display: block;
	overflow: hidden;
	margin-bottom: 7px;
}
.custom_chb_wrapper label{
	font-size: 13px;
	float: left;
	color: #798FA1;
	line-height: 20px;
	padding: 0 0 0 8px;
}
.custom_chb input{
	display:none;
}
/*
================================================================================
|                                     CATALOG                                   |
================================================================================
*/
.cars_categories,
.steps{
	position: absolute;
	top:3px;
	right: 0;
}
.cars_categories span,
.cars_categories a,
.steps span,
.steps a{
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
}
.cars_categories span,
.cars_categories a.active,
.steps span,
.steps a.active{
	border-radius: 5px;
	background: url(../images/cars_categories.jpg) repeat-x 0 0;
	color: #FFFFFF;
	text-shadow:0 0 0 #FFFFFF;
	padding: 6px 10px 7px 12px;
}
.cars_categories a,
.steps a{
	padding: 6px 10px 7px 11px;
}
.cars_categories a span,
.steps a span{
	padding: 0;	
	background: none;
	border-radius: 0;
	color: #798FA1;
	text-shadow:0 0 0 #798FA1;
	background: url(../images/line_2.gif) repeat-x 0 bottom;
}
.cars_categories a:hover span,
.steps a:hover span{
	background: none;
}
.catalog_sidebar{
	width: 220px;
	padding: 0 40px 0 0;
	float: left;
}
.main_catalog{
	float: left;
	width: 680px;
	padding: 15px 0 0 0;
}
.top_catalog_box{
	border-bottom: 1px solid #D1D5DC;
	padding-bottom: 30px;
}
.bottom_catalog_box{
	padding-top: 30px;
	padding-bottom: 40px;
}
.switch{
	overflow: hidden;
	float: left;
	padding: 0 21px 0 0;
}
.switch span,
.switch a{
	background-image: url(../images/catalog_view.png);
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	float: left;
	display: block;
}
.switch span.table_view{
	background-position: 0 0;
}
.switch a.table_view{
	background-position: 0 -29px;
}
.switch span.list_view{
	background-position: -29px 0;
}
.switch a.list_view{
	background-position: -29px -29px;
}
.sorting{
}
.drop_list{
	padding: 1px 20px 0 0;
	float: left;
	line-height: 20px;
}
.drop_list strong{
	color: #293848;
	float: left;
	padding-top: 3px;
}
.drop_list span{
	cursor: pointer;
	position: relative;
	z-index: 10;
	display: inline-block;
	height: 18px;
	padding: 5px 11px 0 10px;
	background: url(../images/sort_marker.gif) no-repeat right 11px;
}
.drop_list .active span{
	background: #FFFFFF;	
	border:1px solid #D1D5DC;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	padding: 4px 10px 0 9px;
}
.drop_list span a{
	display: inline-block;
	text-decoration: none;
	background: url(../images/line_2.gif) repeat-x 0 bottom;
	line-height: 16px;
}
.drop_list .selected{
	float: left;
	position: relative;
	z-index: 10;
	padding-top: 0px;
}
.drop_list ul{
	display: none;
	position:absolute;
	z-index: 1;
	top:22px;
	left:0;
	border:1px solid #D1D5DC;
	border-radius: 0 5px 5px 5px;
	background: #FFFFFF;
	padding: 4px 0 4px 0;
}
.drop_list .active ul{
	display: block;
}
.drop_list ul li{
	border:0;
	background: none;
	padding: 0;
}
.drop_list ul li a{
	display: block;
	text-decoration: none;
	padding: 2px 11px 2px 9px;
}
.drop_list ul li a:hover,
.drop_list ul li.current a{
	background: #F8F8F8;
}
/*
================================================================================
|                                CATALOG TABLE	                              |
================================================================================
*/
.catalog_table,
.dealer_catalog{
	padding: 0 0 0 0;
}
.catalog_table li,
.dealer_catalog li{
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid #D1D5DC;
	overflow: hidden;
	background: none;
}
.catalog_table li a.thumb,
.dealer_catalog li a.thumb{
	display: block;
	width: 165px;
	float: left;
	height: 119px;
	margin: 0 24px 0 0;
}
.catalog_table li .catalog_desc{
	padding: 0 0 0 0px;
	width: 491px;
	float: left;
}
.catalog_table li .location,
.dealer_catalog li .location{
	float: right;
	color: #798FA1;
	line-height: 20px;
	padding: 2px 0 0 0;
}
.catalog_table li .title_box,
.dealer_catalog li .title_box{
	float: left;
	color: #798FA1;
	line-height: 20px;
	padding: 0px 0 11px 0;
}
.catalog_table li .title_box h4,
.dealer_catalog li .title_box h4{
	padding-bottom: 7px
}
.catalog_table li .title_box h4 a,
.dealer_catalog li .title_box h4 a{
	line-height: 20px;
}
.catalog_table li .title_box .price,
.dealer_catalog li .title_box .price{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	color: #F89D13;
}
.catalog_table li .grey_area,
.dealer_catalog li .grey_area{
	color: #798FA1;
	margin: 0 0 10px 0;
}
.catalog_table li .grey_area span,
.dealer_catalog li .grey_area span{
	padding:0 15px 0 0;
}
.catalog_table li a.more,
.dealer_catalog li a.more{
	text-decoration: none;
	color: #798FA1;
	line-height: 18px;
}
.catalog_table li a.more:hover,
.dealer_catalog li a.more:hover{
	text-decoration: underline;
}
/*
================================================================================
|                                CATALOG LIST	                              |
================================================================================
*/
.catalog_list{
	padding-top: 20px;
	overflow: hidden;
	border-bottom: 1px solid #D1D5DC;
}
.catalog_list li{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position:relative;
	width: 213px;
	height: 164px;
	border:0;
	background: none;
	padding: 0;
}
.catalog_list li.last{
	margin-right: 0px;
}
.catalog_list li a{
	cursor: pointer;
	width: 213px;
	height: 164px;
	display: block;
}
.catalog_list li .description{
	position: absolute;
	bottom:0;
	left:0;
	width: 184px;
	height: 144px;
	padding: 10px 14px 10px 15px;
	font-family: 'PTSansRegular';
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	background: url(../images/recent_description.png) repeat 0 0;
}
.catalog_list li:hover .description{
	transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}
.catalog_list li img{
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
	width: 213px;
	height: 164px;
}
.catalog_list li .title{
	position: absolute;
	bottom:0;
	left:0;
	width: 184px;
	padding: 7px 14px 10px 15px;
	font-family: 'PTSansBold';
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 3;
	background: url(../images/recent_title.png) repeat 0 0;
}
.catalog_list li .title span.price{
	float: right;
	letter-spacing: 0.5px;
	color: #FFB01F;
	font-family: 'PTSansRegular',Arial,sans-serif;
	font-weight:normal;
	text-shadow:0 0 0 #FFB01F;
}
/*
================================================================================
|                                    CAR                                       |
================================================================================
*/
.cars_id{
	position: absolute;
	top:0;
	right: 0;
	text-align: right;
}
.cars_id .id{
	font-weight: bold;
	font-family: 'PTSansBold',Arial,sans-serif;
	color: #293848;
	line-height: 16px;
	padding: 0 0 3px;
}
.cars_id .id span{
	letter-spacing: 1px;
}
.car_image_wrapper{
	width: 480px;
	float: left;
	margin-right: 40px;
	margin-bottom: 23px;
}
.car_image_wrapper .big_image{
	width: 480px;
	position:relative;
}
.car_image_wrapper .big_image a{
	display: block;
	width: 480px;
}
.car_image_wrapper .big_image a img{
	width: 480px;
	position: relative;
	z-index: 1;
}
.car_image_wrapper .big_image a img.zoom{
	width: 72px;
	height: 72px;
	top:50%;
	z-index: 2;
	left:50%;
	position: absolute;
	margin: -36px 0 0 -36px;
}
.car_image_wrapper .small_img{
	border:1px solid #EBEBEB;
	background: #F8F8F8;
	width: 464px;
	padding:14px 0 14px 14px;
	overflow: hidden;
}
.car_image_wrapper .small_img a{
	float: left;
	margin: 0 11px 0 0;
}
.car_image_wrapper .small_img a,
.car_image_wrapper .small_img a img{
	width: 81px;
	height: 62px;
}
.car_characteristics{
	width: 420px;
	padding:3px 0 14px 0;
	float: left;
	border-bottom: 1px solid #D1D5DC;
	margin-bottom: 23px;
}
.print{
	width: 27px;
	height: 27px;
	display: block;
	float: right;
	background: url(../images/print_icon.png) no-repeat 0 0;
	margin: 3px 0 0 0;
}
.car_characteristics .price{
	font-size: 28px;
	color: #FFB01F;
	line-height: 32px;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	padding-bottom: 19px;
}
.car_characteristics .price span{
	font-size: 13px;
	color: #607586;
	font-weight: normal;
	font-family: 'PTSansRegular',Arial,sans-serif;
}
.features_table {
	padding: 0 0 19px;
}
.features_table .line{
	overflow: hidden;
	color: #798FA1;
	padding: 7px 15px 8px;
}
.features_table .line .left{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	color: #293848;
	float: left;
	width: 185px;
}
.features_table .line .right{
	float: left;
	width: 205px;	
}
.wanted_line{
	overflow: hidden;
}
.wanted_line .left{
	width: 200px;
	float: left;
	color: #798FA1;
	line-height: 20px;
	padding: 5px 0 0 0;
}
.wanted_line .right{
	width: 220px;
	float: left;
}
.wanted_line .right a{
	background: url(../images/plus.gif) no-repeat 0 8px;
	font-size: 20px;
	line-height: 26px;
	color: #FFB01F;
	text-decoration: none;
	font-family: 'PTSansBold',Arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 0 20px;
}
.wanted_line .right a:hover{
	text-decoration: underline;
}
.info_box{
	float: left;
	width: 680px;
	padding: 10px 40px 16px 0;
}
.car_info{
	padding: 0 0 19px 0;
}
.car_info h2{
	margin-bottom: 14px;
}
.car_info p{
	line-height: 20px;
	padding-bottom: 9px;
}
.car_info p.first{
	padding-bottom: 18px;
}
.car_info p strong{
	color: #293848;
}
.car_info .info_left{
	float: left;
	width: 320px;
	padding: 0 40px 0 0;
}
.car_info .info_right{
	float: left;
	width: 320px;
	padding: 0 0px 0 0;
}
.car_sidebar{
	width: 220px;
	padding-bottom: 13px;
	float: left;
}
.car_contacts h2{
	margin-bottom: 15px;
}
.car_contacts p{
	color: #798FA1;
	padding-bottom: 13px;
}
.car_contacts .left{
	float: left;
	width: 320px;
	padding-right: 40px;
}
.car_contacts .right{
	width: 320px;
	float: left;
}
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
#footer{
	min-width:980px;
	width: 100%;
	margin: 0 auto;
	text-align:left;
	background: url(../images/bg_footer.jpg) repeat center 0;
	border-top:1px solid #D1D6DF;
}
.bg_top_footer{
	background: url(../images/bg_footer_top.jpg) repeat center 0;
	min-width:980px;
	width: 100%;
	margin: 0 auto;
}
.top_footer{
	width:940px;
	padding: 29px 20px 35px;
	margin: 0 auto;
	overflow: hidden;
}
.top_footer p{
	font-size: 12px;
	color: #607586;
	line-height: 20px;
}
.top_footer h3{
	padding-bottom: 25px;
}
.top_footer .f_widget{
	float: left;
	width: 220px;
	padding: 0 20px 0 0;
}
.top_footer .fwidget_separator{
	display: none;
}
.top_footer .f_widget.last{
	margin:0;
}
.schedule{
	padding: 1px 0 0;
}
.schedule li{
	border-bottom:1px dashed #CED3D8;
	line-height: 18px;
	padding: 2px 5px 4px 5px;
	overflow: hidden;
	color: #607586;
	background: none;
	font-size: 12px;
}
.schedule li strong{
	color: #293848;
	float: left;
}
.schedule li span{
	float: right;
}
#footer a.footer_logo{
	font-family: 'PTSansBold',Arial,sans-serif;
	font-size: 38px;
	color: #8F98A2;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0 13px;
	display: block;
}
.f_contact{
	color: #607586;
	font-size: 12px;
	line-height: 18px;
	padding: 1px 0 17px 28px;
}
.f_contact_1{
	background: url(../images/footer_contact_icon_1.png) no-repeat 5px 5px;
}
.f_contact_2{
	background: url(../images/footer_contact_icon_2.png) no-repeat 4px 4px;
}
.f_contact_3{
	background: url(../images/footer_contact_icon_3.png) no-repeat 5px 6px;
}
.f_contact strong,
.f_contact a{
	color: #293848;
	text-decoration: none;
}
.f_contact a:hover{
	text-decoration: underline;
}
.bottom_footer{
	margin: 0 auto;
	padding: 29px 20px 39px;
	overflow: hidden;
	width: 940px;
}
.bottom_footer .f_widget{
	float: left;
	width: 220px;
	padding: 0 20px 0 0;
}
.bottom_footer .f_widget.last{
	padding-right: 0;
}
.bottom_footer h3{
	background: url(../images/line_1.gif) repeat-x 0 bottom;
	color: #FFFFFF;
	padding-bottom: 11px;
	margin-bottom: 14px;
}
.bottom_footer .f_widget ul li{
	background: url(../images/marker_1.gif) no-repeat 0 8px;
	padding:0 0 7px 10px;
	border:0;
}
.bottom_footer .f_widget ul li,
.bottom_footer .f_widget ul li a{
	color: #A9B5BD;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
}
.bottom_footer .f_widget ul li a:hover{
	text-decoration: underline;
}
.bottom_footer .f_widget ul.horizontal{
	padding: 6px 0;
}
.bottom_footer .f_widget ul.horizontal li{
	display: inline-block;
	padding: 0 2px 2px 0;
	background: none;
}
#footer .frame_wrapper{
	padding: 7px 0 0;
}
#footer .frame_wrapper iframe{
	border:1px solid #CFD3DC;
	background: #FFFFFF;
	padding: 7px;
}
.copyright_wrapper{
	width: 100%;
	background: url(../images/line_1.gif) repeat-x 0 0;
	min-width: 940px;
	margin: 0 auto;
}
.copyright{
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
	padding: 19px 20px 21px;
	font-size: 13px;
	color: #A9B5BD;
	line-height: 20px;
}
